catalogo_v1.sublime-project
catalogo_v1.sublime-workspace
public/.DS_Store

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

pids
logs
results

npm-debug.log
node_modules
