catalogo_v1.sublime-project
catalogo_v1.sublime-workspace
public/.DS_Store
public/components
public/paramos/components
public/humedales/components

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

pids
logs
results
newrelic.js

npm-debug.log
node_modules
