@import url("http://fonts.googleapis.com/css?family=Economica");
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
* {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
body {
  background: #f2eee3 url("/images/noise1.png") repeat 0 0 !important;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}
-ms-transition all 0.5sease-in-out,
-o-transition all 0.5sease-in-out {
  transition: all 0.5s ease-in-out;
}
-ms-transition all 0.5sease-in-out :hover,
-o-transition all 0.5sease-in-out :hover {
  color: #00a0ff;
  text-decoration: none;
}
.wrapper {
  margin: 0 auto;
}
.loading {
  background-image: url("/images/loading/ajax-loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
  -moz-opacity: 1;
}
.loading * {
  opacity: 0.5;
  -moz-opacity: 0.5;
}
#flower {
  height: 70px;
}
#top-zone {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
  background: #f2eee3 url("/images/noise1.png") repeat 0 0 !important;
}
#top-zone .brand {
  -webkit-border-radius: 0px 0px 15px 15px;
  border-radius: 0px 0px 15px 15px;
  background-color: #fffef3;
  padding: 10px 13px 13px 13px;
  float: left;
  position: absolute;
  z-index: 15000;
}
#top-zone .brand a:hover {
  opacity: 1 !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
}
#top-zone .nav {
  font-size: 0.9em;
}
#top-zone .navbar-inner {
  background: transparent !important;
  min-height: 50px;
}
#top-zone .container-fluid {
  text-align: center;
}
#top-zone .container-fluid div {
  display: inline-block;
  vertical-align: middle;
}
#top-zone .container-fluid a {
  opacity: 1;
}
#top-zone .container-fluid a:hover {
  opacity: 0.6;
  background-color: rgba(255,255,255,0.5);
}
#top-zone .hidden-phone {
  display: inline-block;
  right: 0px;
  position: absolute;
  padding: 11px 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#top-zone .hidden-phone a {
  vertical-align: middle !important;
  margin: 0;
  padding: 21px 11px;
}
#top-zone .hidden-phone span {
  width: 0px;
  border-left: #9bc2de 1px solid;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  margin: 0 4px;
}
#top-zone nav .navbar:first-child {
  background: #2b7fbc;
  height: 53px;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  z-index: 10000;
  top: 0px;
}
#top-zone nav .navbar:first-child:after {
  content: " ";
  display: block;
  height: 20px;
  width: 100%;
  background: url("/images/shadow_top.png") no-repeat top center;
  margin-top: 1px;
}
#top-zone .menu-opciones {
  margin-bottom: 0px;
}
#top-zone .menu-opciones li.dropdown.open a.dropdown-toggle {
  color: #fff;
  vertical-align: middle;
}
#top-zone .menu-opciones li.dropdown a.dropdown-toggle {
  padding: 16px 12px;
  text-shadow: none;
  font-size: 1em;
  font-weight: 300;
}
#top-zone .menu-opciones li.dropdown .dropdown-menu {
  background: rgba(255,255,255,0.9);
}
#top-zone .menu-opciones li.dropdown .dropdown-menu .active a {
  color: #fff;
}
#top-zone .menu-opciones li.dropdown .caret {
  border-top-color: #2288c9;
  border-bottom-color: #2288c9;
}
#top-zone .menu-opciones li.dropdown:hover a.dropdown-toggle,
#top-zone .menu-opciones li.dropdown:focus a.dropdown-toggle {
  background: rgba(255,255,255,0.2);
  color: #fff;
}
#top-zone .menu-opciones .divider-vertical {
  margin: 15px 0;
  height: 18px;
}
#top-zone .menu-opciones .navbar-search {
  margin-top: 0px;
}
#top-zone .menu-opciones .navbar-search .buscar {
  display: inline-block;
  padding: 3px;
  text-align: right;
}
#top-zone .menu-opciones .navbar-search .buscar input {
  width: 180px;
  height: 20px;
  font-size: 1em;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #2b7fbc;
  border: solid 1px #fff;
  color: #fff;
}
#top-zone .menu-opciones .navbar-search .buscar .btn {
  display: inline-block;
  padding: 13px;
  color: #fff;
  right: 0px;
  height: 32px;
  text-decoration: none;
  width: 33px;
  border: none 0px transparent;
  box-shadow: none;
  background: url("/images/ico_search.png") no-repeat center center;
  margin-top: 0px;
}
#content-wrapper {
  padding-top: 0px;
  min-height: 658px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  background-size: 101.9% 658px;
}
#content-wrapper .breadcrumb {
  margin-left: 2%;
  margin-right: 2%;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 5px 0px;
  margin-bottom: 10px;
  font-size: 0.8em;
  text-shadow: none;
  text-transform: uppercase;
}
#content-wrapper .breadcrumb li {
  background: #fffff5 url("/images/separator.png") no-repeat center right;
  padding: 4px 12px 4px 8px;
}
#content-wrapper .breadcrumb li:first-child {
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
}
#content-wrapper .breadcrumb li:last-child {
  -webkit-border-radius: 0 8px 8px 0;
  -moz-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  background-image: none;
}
#content-wrapper .breadcrumb li:only-child {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#content-wrapper .breadcrumb li a {
  text-decoration: none;
}
#content-wrapper .breadcrumb li a:hover,
#content-wrapper .breadcrumb li a:focus {
  color: #2b7fbc;
  text-decoration: none;
}
#content-wrapper .breadcrumb li .divider {
  color: #aaa;
}
#content-wrapper .breadcrumb li.active {
  color: #888;
}
#content-wrapper .breadcrumb li:empty {
  display: none;
}
#carruselSection .container-fluid-withoutmargin {
  height: auto;
  width: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
#carruselSection .container-fluid-withoutmargin #fichas_muestra {
  margin-left: 2%;
  margin-right: 2%;
  background: rgba(251,180,29,0.1);
  padding-top: 10px;
  padding-bottom: 10px;
}
#carruselSection .container-fluid-withoutmargin #fichas_muestra .foto_muestra {
  max-width: 150px;
  display: inline-block;
  background-color: #fff;
  opacity: 1;
  margin-left: 3px;
  margin-right: 3px;
  vertical-align: top;
  border: 1px #ccc solid;
  box-shadow: 0 1px 1px #ccc;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
#carruselSection .container-fluid-withoutmargin #fichas_muestra .foto_muestra span.carousel-taxonnombre {
  font-weight: bold;
  font-size: 0.9em;
}
#carruselSection .container-fluid-withoutmargin #fichas_muestra .popover-title {
  background-color: #4b4b4b;
  color: #fff;
}
#carruselSection .container-fluid-withoutmargin #fichas_muestra .popover-content {
  line-height: 16px;
}
#catalogWallSection #wall-container-wrapper {
  margin-left: 2%;
  margin-right: 2%;
}
#catalogWallSection #wall-container-wrapper .navigation {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 60px;
}
#catalogWallSection #wall-container-wrapper #container {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
#catalogWallSection #wall-container-wrapper #container .ficha {
  width: 250px;
  margin: 9px;
  float: left;
  overflow: hidden;
  background: #fff;
  font-size: 0.9em;
  border: 1px #ccc solid;
  -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
#catalogWallSection #wall-container-wrapper #container .ficha:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  border: 1px #aaa solid;
}
#catalogWallSection #wall-container-wrapper #container .ficha .ficha-muro-datos {
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  color: #333;
  line-height: 1.3em;
  background-size: 90% 8px;
  background: url("/images/shadow_top_clear.png") no-repeat top center;
}
#catalogWallSection #wall-container-wrapper #container .ficha .ficha-muro-datos .ficha-muro-taxonnombre {
  font-weight: bold;
  font-size: 1.1em;
}
#catalogWallSection #wall-container-wrapper #container .ficha .ficha-muro-datos .ficha-muro-taxoncompleto {
  margin-top: 10px;
  font-size: 0.8em;
  margin-bottom: 15px;
}
#catalogWallSection #wall-container-wrapper #container .ficha .ficha-muro-datos .ficha-muro-nombrescomunes {
  font-size: 0.9em;
  margin-bottom: 15px;
}
#catalogWallSection #wall-container-wrapper #container .ficha .ficha-muro-datos .ficha-muro-departamentos {
  font-size: 0.8em;
}
.fix_bottom {
  position: fixed;
  bottom: 0px;
}
h3.ui-state-active {
  background: url("/images/flecha_down.png") no-repeat top center !important;
}
h3.ui-state-default {
  background: url("/images/flecha_up.png") no-repeat top center;
}
footer {
  font-size: 0.85em;
  clear: both;
  margin: 0;
  color: #515254 !important;
  background: rgba(255,255,255,0.9) url("/images/shadow_top_clear.png") no-repeat top center;
  line-height: 1.5em;
  padding: 0 20px;
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
}
footer h3 {
  margin: 6px 0px;
  height: 15px;
}
footer h5 {
  font-family: 'Open Sans';
  font-size: 1.03em;
  padding: 0px;
  margin: 0px;
  font-weight: 700;
}
footer aside {
  float: left;
  background: rgba(255,255,255,0.6);
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 7px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}
footer section {
  margin: 0 auto;
  max-width: 1100px;
  padding: 30px 0 !important;
  text-align: center;
}
footer section a {
  color: #515254 !important;
}
footer section div {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
footer section div:nth-child(3) div {
  width: 24%;
}
footer section div:nth-child(3) div:nth-child(1) {
  width: 31%;
}
footer section div:nth-child(3) div:nth-child(3) {
  width: 19%;
}
footer section div:nth-child(3) a {
  color: #515254 !important;
}
footer section div:nth-child(3) div a {
  display: block;
  vertical-align: top;
}
footer section:nth-child(2) {
  background: url("/images/shadow_bottom_clear.png") no-repeat bottom center !important;
  text-align: left;
}
footer section > div:nth-child(2) {
  width: 19%;
  padding: 0px 20px 0px 20px;
}
footer section > div:nth-child(3),
footer nav {
  width: 66%;
  padding: 0 20px 0px 20px !important;
  display: inline-block;
  border-left: 1px #cfcfcf solid;
}
footer nav {
  border: none;
  font-weight: bold;
  vertical-align: top;
  margin-top: 20px;
  padding: 0px;
  font-size: 1.1em;
}
footer nav a {
  margin: 0 30px 0 3px;
}
footer .redes {
  width: 19%;
  padding: 0 20px 0px 20px;
  margin: 20px 0 0 70px !important;
}
footer .redes a {
  float: left;
  margin: 0 4px 0 0;
}
footer .barra {
  padding: 10px 0 !important;
}
footer section:nth-child(3) span {
  margin: 0 10px;
  position: relative;
  padding: 0 10px;
}
footer section:nth-child(3) span p {
  display: block;
  font-weight: 700;
  font-size: 0.75em;
  margin-top: 12px;
  line-height: 1.3em;
}
footer section:nth-child(3) span:last-child {
  margin-right: 0px;
  padding-right: 0px;
}
footer section:nth-child(3) span:first-child {
  margin-left: 0px;
  padding-left: 0px;
}
footer section:nth-child(3) span:after {
  content: " ";
  border-right: 1px #cfcfcf solid;
  position: absolute;
  top: 20px;
  height: 30px;
  right: -10px;
}
footer section:nth-child(3) span:last-child:after {
  content: none;
  border-right: none;
  display: none;
}
footer section img {
  margin: 0 3px;
  display: inline-block;
  vertical-align: top;
}
footer section span {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
#catalogRecord #record-wrapper {
  margin-left: 2%;
  margin-right: 2%;
  font-size: 90%;
}
#catalogRecord .container-fluid {
  display: inline-block;
  vertical-align: top;
}
#catalogRecord .container-fluid #recordPictures {
  float: left;
  max-width: 40%;
}
#catalogRecord .container-fluid #recordPictures img {
  -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  margin-right: 30px;
  margin-bottom: 30px;
  max-width: 100%;
}
#catalogRecord .container-fluid #recordContent li {
  width: 210px;
  display: inline-block;
  vertical-align: top;
  line-height: 1.2em;
  margin: 0 5px 10px 0;
}
#catalogRecord .container-fluid #recordContent li em {
  color: #999;
  display: block;
  line-height: 0.9em;
}
#catalogRecord .container-fluid #recordHeader {
  padding-top: 1px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 55%;
}
#catalogRecord .container-fluid #recordHeader .fullTaxonContainer span {
  font-size: 0.85em;
  background: rgba(250,250,235,0.9);
  padding: 6px 12px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: block;
  font-weight: 700;
  margin-top: 10px;
}
#catalogRecord .container-fluid #recordHeader #recordTitles h1.taxonName {
  font-family: "Open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2288c9;
  font-weight: 300;
}
#catalogRecord .container-fluid #recordHeader #recordTitles h6.author {
  margin: 0px;
}
#catalogRecord .container-fluid #recordHeader #recordTitles .authorContainer {
  margin: 10px 10px;
  display: inline-block;
  vertical-align: bottom !important;
  color: #888;
}
#catalogRecord .container-fluid #recordContent {
  width: 55%;
  text-align: left;
  padding-right: 20px;
  padding-left: 20px;
}
#catalogRecord .container-fluid #recordContent .descriptionTitle,
#catalogRecord .container-fluid #recordContent .commonNamesTitle,
#catalogRecord .container-fluid #recordContent .distributionTitle {
  color: #a5b562;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 300;
  font-size: 1.6em;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
}
#catalogRecord .container-fluid #recordContent ul {
  list-style-position: inside;
  margin: 0px;
}
.slider,
.collapseSlider,
.sliderExpanded .expandSlider {
  display: none;
}
.sliderExpanded .collapseSlider {
  display: block;
}
@media (min-width:1055px) {
  .buscar input {
    width: 250px;
  }
}
@media (max-width:1055px) {
  .hidden-phone {
    right: -50px;
  }
  .hidden-phone span {
    display: none !important;
  }
  .navbar-inner .nav-collapse {
    padding-left: 30px;
  }
}
@media (min-width 930px) {
  #top-zone .menu-opciones .navbar-search .buscar input {
    width: 160px;
  }
  #top-zone .menu-opciones .navbar-search .buscar .btn {
    margin-top: 0px;
    margin-right: 3px;
    background: url("/images/lupa3.png") no-repeat center center;
    border: 0px solid #ccc;
    box-shadow: none;
    width: 30px;
    height: 30px;
  }
  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 979px) {
  #top-zone {
    position: static;
  }
  .no-bottom-margin {
    margin-bottom: 0px;
  }
  #recordHeader,
  #recordContent {
    width: 100% !important;
  }
  footer,
  #recordPictures {
    float: none !important;
    max-width: 100% !important;
  }
  footer img,
  #recordPictures img {
    max-width: 100% !important;
  }
  footer section > div:nth-child(3),
  footer nav {
    width: 50%;
  }
}
