@import url(http://fonts.googleapis.com/css?family=Economica)
@import url(http://fonts.googleapis.com/css?family=Open\+Sans)
*
	-webkit-transition all 0.4s ease
	-moz-transition all 0.4s ease
	-ms-transition all 0.4s ease
	-o-transition all 0.4s ease
body
	background #f2eee3 url("/images/noise1.png") repeat 0 0 !important
	font-family "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif
.wrapper
	margin 0 auto
.loading
	background-image url("/images/loading/ajax-loader.gif")
	background-position center center
	background-repeat no-repeat
	opacity 1
	-moz-opacity 1
	& *
		opacity .5
		-moz-opacity .5
#flower
	background-image url("/images/flower_top.png"), url("/images/shadow_top.png")
	background-repeat no-repeat, no-repeat
	background-position center -40px, bottom center
	height 70px
#top-zone
	top 0
	right 0
	left 0
	z-index 1030
	margin-bottom 0
	background #f2eee3 url("/images/noise1.png") repeat 0 0 !important
	.brand
		padding 5px 20px 5px
	.navbar-inner
		background transparent !important
		min-height 36px
	.menu-opciones
		margin-bottom 0px
		li.dropdown.open
			a.dropdown-toggle
				background rgba(34, 136, 201, 0.6)
				color #fff
		li.dropdown
			background none repeat scroll 0 0 rgba(255, 255, 255, 0.3)
			a.dropdown-toggle
					padding 8px 10px 8px
					color #2288C9
					text-shadow none
					font-family "Economica","Helvetica Neue",Helvetica,Arial,sans-serif
					font-size 1.3em
				.dropdown-menu
					background rgba(255, 255, 255, 0.9)
					.active
						a
							color white
				.caret
					border-top-color #2288c9
					border-bottom-color #2288c9
			&:hover, &:focus
				a.dropdown-toggle
					background rgba(34, 136, 201, 0.6)
					color #fff
		.divider-vertical
			margin 0px
			height 36px
		.navbar-search
			margin-top 0px
			.buscar
				float right
				padding 3px
				text-align right
				background-color #1888c9
				-webkit-border-radius 20px 20px 20px 20px
				border-radius: 20px 20px 20px 20px
				input
					width 230px
					height 16px
					font-size 1em
					-webkit-border-radius 15px
					border-radius 15px
					background-color #fffff
					background rgba(255,255,255,0.8)
					border 0px
					-webkit-box-shadow inset 3px 3px 2px 0px rgba(0, 0, 0, 0.2)
					box-shadow inset 3px 3px 2px 0px rgba(0, 0, 0, 0.2)
					&:focus
						background #fff
#content-wrapper
	padding-top 16px
	min-height 658px
	margin 0 auto
	//margin-top -50px
	width 100%
	position relative
	background url("/images/content-shadow2.png") center top no-repeat
	background-size 101.90% 658px
	.breadcrumb
		background-color #1775BF
		margin-left 2%
		margin-right 2%
		-webkit-border-radius 0px
		-moz-border-radius 0px
		border-radius 0px
		padding 5px 15px
		margin-bottom 0px
		font-size 0.9em
		li
			a
				color white
				text-decoration underline
				&:hover, &:focus
					color white
					text-decoration none
			.divider
				color white
		li.active
			color rgb(211, 211, 211)
			text-shadow 0 1px 0 rgb(211, 211, 211)
#carruselSection
	.container-fluid-withoutmargin
		height auto
		width auto
		text-align center
		margin-left auto
		margin-right auto
		margin-bottom 10px
		#fichas_muestra
			margin-left 2%
			margin-right 2%
			background rgba(251, 180, 29, 0.1)
			padding-top 10px
			padding-bottom 10px
			.foto_muestra
				max-width 150px
				display inline-block
				background-color rgba(255, 255, 255, 1)
				opacity 1
				margin-left 3px
				margin-right 3px
				vertical-align top
				border 1px #cccccc solid
				box-shadow 0 1px 1px #ccc
				-webkit-transition all 0.6s
				-moz-transition all 0.6s
				-ms-transition all 0.6s
				-o-transition all 0.6s
				transition all 0.6s
				span.carousel-taxonnombre
					font-weight bold
					font-size 0.9em
			.popover-title
				background-color rgb(75, 75, 75)
				color white
			.popover-content
				line-height 16px
#catalogWallSection
	#wall-container-wrapper
		margin-left 2%
		margin-right 2%
		.navigation
			display block
			text-align center
			margin-top 10px
			margin-bottom 60px
		#container
			margin-top 0px
			margin-left auto
			margin-right auto
			margin-bottom 10px
			.ficha
				width 250px
				margin 9px
				float left
				overflow hidden
				background #fff
				font-size 0.9em
				border: 1px #cccccc solid;
				-webkit-box-shadow 0 1px 3px rgba(34,25,25,0.4)
				-moz-box-shadow 0 1px 3px rgba(34,25,25,0.4)
				box-shadow 0 1px 3px rgba(34,25,25,0.4)
				-webkit-transition all 0.6s
				-moz-transition all 0.6s
				-ms-transition all 0.6s
				-o-transition all 0.6s
				transition all 0.6s
				&:hover
					box-shadow 0 0 20px rgba(0,0,0,0.5)
					border 1px #aaa solid
				.ficha-muro-datos
					padding-top 5px
					padding-bottom 15px
					padding-left 15px
					padding-right 15px
					color #333
					line-height 1.3em
					.ficha-muro-taxonnombre
						font-weight bold
						font-size 1.1em
					.ficha-muro-taxoncompleto
						margin-top 10px
						font-size 0.8em
						margin-bottom 15px
					.ficha-muro-nombrescomunes
						font-size 0.9em
						margin-bottom 15px
					.ficha-muro-departamentos
						font-size 0.8em
#messageAndAlertSection
	#messageAndAlert
		margin-left 2%
		margin-right 2%
		height 100px
		display none
#footer-zone
	.footer
		clear both
		margin 0
		text-shadow 0 1px 0 rgba(255, 255, 255, .6)
		background-image url("/images/flower_bottom.png"), url("/images/shadow_botom.png")
		background-repeat no-repeat, no-repeat
		background-position center bottom, top center
		padding 20px 30px
		.sponsor
			height 101px
			margin 0 auto
			padding 5px 0 0
			text-align center
			clear both
			width 1020px
			#s_one, #s_two, #s_five, #s_six
				margin 0 3px 0 0 !important
				padding 10px
				border-radius: 8px
				-webkit-border-radius: 8px
				height 70px !important
				background-color white
				background none repeat scroll 0 0 rgba(255, 255, 255, 0.6)
				display inline-block
				vertical-align top
				list-style none
				width auto
			ul
				margin 0
				padding 0
				display block
				vertical-align top
				li
					list-style none
					display inline-block
					width auto
					vertical-align top
					a
						margin 0 3px
						&:visited, &:visited, &:link
							color #007FC9
							text-decoration none
						img
							border none
			p
				display block
				width auto
				line-height 1em
				font-size 0.7em
				text-align center
				padding 8px 0
				margin 0.33em 0 1em 0
			.content_footer
				height 100px
				margin 0 auto
				display block
				width 900px
				address
					color #666666
					float left
					display inline
					font 10px/12px Verdana, helvetica, arial
					margin 20px 0 0
					text-align left
				ul
					margin 22px 0 0
					float right
					display inline
					padding-left 1.15em
				li
					margin 0 0 0 18px
					list-style-type none
					float left
					display inline
					a
						font bold 11px arial
						display block
						padding 2px 0 2px 10px
						color #272727
						text-decoration none
						img
							border none
				.creative
					a
						background url("/images/cc.png") no-repeat center 0
						display block
						font-size 0.7em
						line-height 1.2em
						padding 23px 0 0
						text-align center
						width 95px
						color black
						&:hover
							color #000
							text-decoration underline
@media (min-width: 980px)
	#top-zone
		.menu-opciones
			.navbar-search
				.buscar
					input
						width 290px
					.btn
						margin-top 0px
						margin-right 3px
						background url("/images/lupa3.png") no-repeat center center
						border 0px solid #ccc
						box-shadow none
						width 30px
						height 30px
		.container-fluid
			padding-right 0px
			padding-left 0px
@media (max-width: 979px)
	#top-zone
		position static
.no-bottom-margin
	margin-bottom 0px