block footer
	footer.fix_bottom.hidden-xs
		h3
		section.sib-moreinfo
			.container
				.row
					.col-sm-4
						aside
							img.img-responsive(alt="Humboldt", src="/images/logos_cut/logo_sib_bn.png")
						div.location-data
							h5 Sistema de información sobre Biodiversidad de Colombia
							strong Dirección 
							| Calle 28A No. 15-09 Bogotá D.C., Colombia.
							br
							strong Teléfono 
							| PBX 57(1) 320 2767
							br
							a(href="mailto:sib@humboldt.org.co") sib@humboldt.org.co
					.col-sm-8
						div.links
							.row
								.col-sm-5
									div
										h5 Nuestros servicios
										a(target="_blank", href="http://data.sibcolombia.net") Portal de datos SiB Colombia
										a(target="_blank", href="http://www.sibcolombia.net") Portal general SiB Colombia
										a(target="_blank", href="http://www.biodiversidad.co") Catálogo de especies
										a(target="_blank", href="http://ipt.sibcolombia.net/") Herramienta de publicación de datos (IPT)
								.col-sm-4
									div
										h5 SiB Colombia
										a(target="_blank", href="http://www.sibcolombia.net/web/sib/acerca-del-sib") ¿Qué es el SiB?
										a(target="_blank", href="http://www.sibcolombia.net/web/sib/equipo-coordinador") Equipo coordinador
										a(target="_blank", href="http://www.sibcolombia.net/web/sib/comite-directivo") Comité directivo
										a(target="_blank", href="http://www.sibcolombia.net/web/sib/nuestra-red") Nuestra red
										a(href="/listado_especies") Listado de especies
								.col-sm-3
									div
										h5 Actualidad
										a(target="_blank", href="http://www.sibcolombia.net/web/sib/linea-de-tiempo") Línea de eventos
										a(target="_blank", href="http://www.sibcolombia.net/web/sib/eventos") Talleres y comités
										a(target="_blank", href="http://www.sibcolombia.net/web/sib/reportesib") ReporteSiB
				.row
					.col-sm-4
						span.redes
							a(title="SiB en Facebook", target="_blank", href="https://www.facebook.com/SibColombia")
								img.img-responsive(alt="SiB en Facebook" src="/images/logos_cut/fb_b.png")
							a(title="SiB en Twitter", target="_blank", href="https://twitter.com/sibcolombia")
								img.img-responsive(alt="SINCHI" src="/images/logos_cut/tw_b.png")
							a(title="SiB en Pinterest", target="_blank", href="http://pinterest.com/sibcolombia/pins/")
								img.img-responsive(alt="SiB en Pinterest" src="/images/logos_cut/pin_b.png")
							a(title="SiB en Youtube", target="_blank", href="http://www.youtube.com/sibcolombia")
								img.img-responsive(alt="SiB en Youtube" src="/images/logos_cut/yt_b.png")
					.col-sm-8
						nav
							a(href="/terms.htm") Términos de uso
							a(href="https://www.gobiernoenlinea.gov.co/", target="_blank") Gobierno en línea
		section.sib-cd
			.container
				span.hidden-sm
					a(title="Humboldt", target="_blank", href="http://www.humboldt.org.co")
						img.img-responsive(alt="Humboldt" src="/images/logos_cut/humboldt_bn.png")
					p Entidad <br/>coordinadora
				span.separator.hidden-sm
				span.hidden-sm.hidden-md
					a(title="Fondo de Adaptación", target="_blank", href="http://sitio.fondoadaptacion.gov.co/")
						img.img-responsive(alt="Fondo de Adaptación" src="/images/logos_cut/fondo_ico.png")
					p Con el apoyo de
				span.separator.hidden-sm.hidden-md
				span.hidden-sm
					a(href="https://www.siac.gov.co/", target="_blank" title="El SiB Colombia es componente temático del SIAC")
						img.img-responsive(src="/images/logos_cut/siac_bn.png", alt="El SiB Colombia es componente tem&aacute;tico del SIAC")
					p El SiB Colombia es <br/> componente <br/> temático del SIAC
				span.separator.hidden-sm
				span
					a(title="SINCHI", target="_blank", href="http://www.sinchi.org.co")
						img.img-responsive(alt="SINCHI" src="/images/logos_cut/sinchi_bn.png")
					a(title="Humboldt", target="_blank", href="http://www.humboldt.org.co")
						img.img-responsive(alt="Humboldt" src="/images/logos_cut/humboldt_bn.png")
					a(title="IDEAM", target="_blank", href="http://www.ideam.gov.co")
						img.img-responsive(alt="IDEAM" src="/images/logos_cut/ideam_bn.png")
					a(title="INVEMAR", target="_blank", href="http://www.invemar.org.co")
						img.img-responsive(alt="INVEMAR" src="/images/logos_cut/invemar_bn.png")
					a(title="IIAP", target="_blank", href="http://www.iiap.org.co")
						img.img-responsive(alt="IIAP" src="/images/logos_cut/iiap_bn.png")
					a(title="ICN", target="_blank", href="http://www.icn.unal.edu.co")
						img.img-responsive(alt="ICN" src="/images/logos_cut/unal_bn.png")
					a(title="Ministerio de Ambiente y Desarrollo Sostenible", target="_blank", href="http://www.minambiente.gov.co")
						img.img-responsive(alt="Ministerio de Ambiente y Desarrollo Sostenible", src="/images/logos_cut/mads_bn.png")
					p Comité Directivo y Técnico
	script(src="/javascripts/app/user_voice.js")
