.container
      #myCarousel.carousel.slide(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
          li.active(data-target='#myCarousel', data-slide-to='0')
          li(data-target='#myCarousel', data-slide-to='1')
          li(data-target='#myCarousel', data-slide-to='2')
          li(data-target='#myCarousel', data-slide-to='3')
        // Wrapper for slides
        .carousel-inner(role='listbox')
          .item.active
            img(src='https://placehold.it/1280x460', alt='Chania')
          .item
            img(src='https://placehold.it/1280x460', alt='Chania')
          .item
            img(src='https://placehold.it/1280x460', alt='Flower')
          .item
            img(src='https://placehold.it/1280x460', alt='Flower')
        // Left and right controls
        a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          span.sr-only Previous
        a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          span.sr-only Next
      .row.shadow.padded-cont
        h2.main-subt Sobre esta colección
        p.column-p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sapien urna, convallis at varius in, pretium convallis nisl. Ut eu lorem turpis. Etiam nulla ex, feugiat eu leo faucibus, porttitor feugiat ex. Cras in justo orci. Cras pharetra urna nunc, sed maximus magna lacinia sit amet. Nullam orci tortor, consequat ac erat tincidunt, condimentum elementum nibh. Maecenas ultricies neque quis laoreet volutpat. Vivamus ipsum justo, elementum sed lacus in, interdum ultricies diam. Nulla facilisi. Quisque euismod pharetra aliquam. Vestibulum vestibulum et mi eget sollicitudin. Morbi scelerisque orci at elementum mollis. Integer feugiat ligula sed lorem condimentum hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sapien urna, convallis at varius in, pretium convallis nisl. Ut eu lorem turpis. Etiam nulla ex, feugiat eu leo faucibus, porttitor feugiat ex. Cras in justo orci. Cras pharetra urna nunc, sed maximus magna lacinia sit amet. Nullam orci tortor, consequat ac erat tincidunt, condimentum elementum nibh. Maecenas ultricies neque quis laoreet volutpat. Vivamus ipsum justo, elementum sed lacus in, interdum ultricies diam. Nulla facilisi. Quisque euismod pharetra aliquam. Vestibulum vestibulum et mi eget sollicitudin. Morbi scelerisque orci at elementum mollis. Integer feugiat ligula sed lorem condimentum hendrerit.
        .row.padded-cont.align-center
          a.btn-home(href='/#/listado') +Ver todo el catálogo
          p
      div
        h2.main-subt Explora a trevés de grupos biológicos
      .row.padded-cont
        .col-md-3.align-center
          img(src='https://placehold.it/200x200', alt='Artrópodos')
        .col-md-3.align-center
          img(src='https://placehold.it/200x200', alt='Aves')
        .col-md-3.align-center
          img(src='https://placehold.it/200x200', alt='Plantas')
        .col-md-3.align-center
          img(src='https://placehold.it/200x200', alt='Moluscos')
      .row.padded-cont
        .col-md-4.align-center
          img(src='https://placehold.it/200x200', alt='Mamíferos')
        .col-md-4.align-center
          img(src='https://placehold.it/200x200', alt='Reptiles')
        .col-md-4.align-center
          img(src='https://placehold.it/200x200', alt='Anfibios')

style.
      .padded-cont {
      padding: 40px 0;
      }
      .align-center{
      text-align: center;
      }
      .btn-home {
      display: inline-block;
      text-transform: uppercase;
      font-size: 24px;
      padding: 20px 50px;
      background-color: #466E70;
      color: #FFFFFF;
      text-decoration: none;
      }
      .btn-home:hover {
      background-color: #CEE5DC;
      color: #466E70;
      text-decoration: none;
      }
      .btn-pad {
      padding: 25px 0 0 10px;
      }
      .column-p {
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      column-count: 2;
      -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
      -moz-column-gap: 40px; /* Firefox */
      column-gap: 40px;
      }
      .shadow {
      background: url(shadow.png) center bottom no-repeat;
      }
      .main-subt {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: bold;
      color: #466E70;
      }
      footer.fix_bottom{
      position:relative;
      }