.container
      #homeCarousel.carousel.slide(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
          li.active(data-target='#homeCarousel', data-slide-to='0')
          li(data-target='#homeCarousel', data-slide-to='1')
          li(data-target='#homeCarousel', data-slide-to='2')
          li(data-target='#homeCarousel', data-slide-to='3')
        // Wrapper for slides
        .carousel-inner(role='listbox')
          .item.active
            img(src='https://placehold.it/1280x460', alt='Chania')
            .carousel-caption
              h3 Chania
              p The atmosphere in Chania has a touch of Florence and Venice.
              p
                a.learn-more-home(href='#') +Ver más
          .item
            img(src='https://placehold.it/1280x460', alt='Chania')
            .carousel-caption
              h3 Chania
              p The atmosphere in Chania has a touch of Florence and Venice.
              p
                a.learn-more-home(href='#') +Ver más
          .item
            img(src='https://placehold.it/1280x460', alt='Flower')
            .carousel-caption
              h3 Flowers
              p Beatiful flowers in Kolymbari, Crete.
              p
                a.learn-more-home(href='#') +Ver más
          .item
            img(src='https://placehold.it/1280x460', alt='Flower')
            .carousel-caption
              h3 Flowers
              p Beatiful flowers in Kolymbari, Crete.
              p
                a.learn-more-home(href='#') +Ver más
        // Left and right controls
        a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          span.sr-only Previous
        a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          span.sr-only Next
      .row.shadow.padded-cont
        h2.main-subt Sobre esta colección
        p.column-p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sapien urna, convallis at varius in, pretium convallis nisl. Ut eu lorem turpis. Etiam nulla ex, feugiat eu leo faucibus, porttitor feugiat ex. Cras in justo orci. Cras pharetra urna nunc, sed maximus magna lacinia sit amet. Nullam orci tortor, consequat ac erat tincidunt, condimentum elementum nibh. Maecenas ultricies neque quis laoreet volutpat. Vivamus ipsum justo, elementum sed lacus in, interdum ultricies diam. Nulla facilisi. Quisque euismod pharetra aliquam. Vestibulum vestibulum et mi eget sollicitudin. Morbi scelerisque orci at elementum mollis. Integer feugiat ligula sed lorem condimentum hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sapien urna, convallis at varius in, pretium convallis nisl. Ut eu lorem turpis. Etiam nulla ex, feugiat eu leo faucibus, porttitor feugiat ex. Cras in justo orci. Cras pharetra urna nunc, sed maximus magna lacinia sit amet. Nullam orci tortor, consequat ac erat tincidunt, condimentum elementum nibh. Maecenas ultricies neque quis laoreet volutpat. Vivamus ipsum justo, elementum sed lacus in, interdum ultricies diam. Nulla facilisi. Quisque euismod pharetra aliquam. Vestibulum vestibulum et mi eget sollicitudin. Morbi scelerisque orci at elementum mollis. Integer feugiat ligula sed lorem condimentum hendrerit.
        .row.padded-cont.align-center
          a.btn-home(href='/#/catalogo') +Ver todo el catálogo
          p
      div
        h2.main-subt Explora a través de grupos biológicos
      .row.padded-cont
        .col-md-3.align-center
          a.home-icn.artropodos(data-ng-click="switchTaxon('insecta') | trackEvent:'Categoria insectos':'Button clicked'", data-ng-href="/#/insectos{{searchOptions.getCurrentURLWithoutTaxon()}}")
        .col-md-3.align-center
          a.home-icn.aves(data-ng-click="switchTaxon('aves') | trackEvent:'Categoria aves':'Button clicked'", data-ng-href="/#/aves{{searchOptions.getCurrentURLWithoutTaxon()}}")
        .col-md-3.align-center
          a.home-icn.plantas(data-ng-click="switchTaxon('plantae') | trackEvent:'Categoria plantas':'Button clicked'", data-ng-href="/#/plantas{{searchOptions.getCurrentURLWithoutTaxon()}}")
        .col-md-3.align-center
          a.home-icn.moluscos(data-ng-click="switchTaxon('bivalvia') | trackEvent:'Categoria moluscos':'Button clicked'", data-ng-href="/#/moluscos{{searchOptions.getCurrentURLWithoutTaxon()}}")
      .row.padded-cont
        .col-md-4.align-center
          a.home-icn.mamiferos(data-ng-click="switchTaxon('mammal') | trackEvent:'Categoria mamíferos':'Button clicked'", data-ng-href="/#/mamiferos{{searchOptions.getCurrentURLWithoutTaxon()}}") 
        .col-md-4.align-center
          a.home-icn.reptiles(data-ng-click="switchTaxon('reptilia') | trackEvent:'Categoria reptiles':'Button clicked'", data-ng-href="/#/reptiles{{searchOptions.getCurrentURLWithoutTaxon()}}")
        .col-md-4.align-center
          a.home-icn.anfibios(data-ng-click="switchTaxon('amphibia') | trackEvent:'Categoria anfibios':'Button clicked'", data-ng-href="/#/anfibios{{searchOptions.getCurrentURLWithoutTaxon()}}")

style.
      footer.fix_bottom{
      position:relative;
      }