block header
	header
		nav
			.navbar.no-bottom-margin
				.navbar-inner
					.container-fluid
						a(class="brand", alt="Logo Catalogo de la Biodiversidad", href="#")
							img(src="images/logo_catalogo_60px_fondo_blanco.png")
						.pull-right.hidden-phone
							a(class="brand", alt="Logo SIB Colombia", href="http://www.sibcolombia.net")
								img(src="images/logo_sib_80px_fondo_papel.png", style="height:60px;")
						#flower
			.navbar.menu-opciones
				.navbar-inner
					.container-fluid
						a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
							span.icon-bar
							span.icon-bar
							span.icon-bar
					.nav-collapse.collaps.navbar-responsive-collapse
						ul.nav.pull-right
							li.dropdown
								a(href="#", class="dropdown-toggle", data-toggle="dropdown") GRUPOS: todos
									b.caret
								ul.dropdown-menu
									li(data-bind="css: { active: currentGroupActive() == 'Todos' }")
										a(href="#", data-bind="click: changeSearchCondition") Todos
									li(data-bind="css: { active: currentGroupActive() == 'Insectos' }")
										a(href="#", data-bind="click: changeSearchCondition") Insectos
									li(data-bind="css: { active: currentGroupActive() == 'Aves' }")
										a(href="#", data-bind="click: changeSearchCondition") Aves
									li(data-bind="css: { active: currentGroupActive() == 'Plantas' }")
										a(href="#", data-bind="click: changeSearchCondition") Plantas
									li(data-bind="css: { active: currentGroupActive() == 'Mamíferos' }")
										a(href="#", data-bind="click: changeSearchCondition") Mamíferos
									li(data-bind="css: { active: currentGroupActive() == 'Reptiles' }")
										a(href="#", data-bind="click: changeSearchCondition") Reptiles
									li(data-bind="css: { active: currentGroupActive() == 'Peces' }")
										a(href="#", data-bind="click: changeSearchCondition") Peces
									li(data-bind="css: { active: currentGroupActive() == 'Hongos' }")
										a(href="#", data-bind="click: changeSearchCondition") Hongos
							li.divider-vertical
							li.dropdown
								a(href="#", class="dropdown-toggle", data-toggle="dropdown") FILTRAR POR: todas
									b.caret
								ul.dropdown-menu
									li(data-bind="css: { active: currentGeneralFilter() == 'Todas' }")
										a(href="#", data-bind="click: changeSearchCondition") Todas
									li(data-bind="css: { active: currentGeneralFilter() == 'Solo fichas con imagenes' }")
										a(href="#", data-bind="click: changeSearchCondition") Solo fichas con imagenes
							li.divider-vertical
							li.dropdown
								a(href="#", class="dropdown-toggle", data-toggle="dropdown") ORDENAR POR: fecha publicación, descendente
									b.caret
								ul.dropdown-menu
									li(data-bind="css: { active: currentOrderBy() == 'Fecha publicación' }")
										a(href="#", data-bind="click: changeSearchCondition") Fecha publicación
									li(data-bind="css: { active: currentOrderBy() == 'Nombre científico' }")
										a(href="#", data-bind="click: changeSearchCondition") Nombre científico
									li(data-bind="css: { active: currentOrderBy() == 'Autor' }")
										a(href="#", data-bind="click: changeSearchCondition") Autor
									li.divider
									li(data-bind="css: { active: currentOrderDirection() == 'Ascendente' }")
										a(href="#", data-bind="click: changeSearchCondition") Ascendente
									li(data-bind="css: { active: currentOrderDirection() == 'Descendente' }")
										a(href="#", data-bind="click: changeSearchCondition") Descendente
						form.navbar-search.pull-left
							.buscar
								fieldset
									input.search-query.span2(type="text", placeholder="Buscar por nombre científico o nombre común")
									button.btn.hidden-phone.hidden-tablet(type="button")