block header
	header
		nav
			.navbar.no-bottom-margin
				.navbar-inner
					.container-fluid
						a(class="brand", alt="Logo Catalogo de la Biodiversidad", href="#")
							img(src="/images/logo_catalogo_60px_fondo_blanco.png")
						.pull-right.hidden-phone
							a(class="brand", alt="Logo SIB Colombia", href="http://www.sibcolombia.net")
								img(src="/images/logo_sib_80px_fondo_papel.png", style="height:60px;")
						#flower