!!!5
//if IE 8
	|<html class="no-js lt-ie9">
//if gt IE 8
	|<!--> <html class="no-js"> <!--
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	title Cat치logo de la Biodiversidad
	meta(name='description', content='')
	meta(name='viewport', content='width=device-width,initial-scale=1')
	meta(property='og:title', content='Sistema de Informaci칩n sobre Biodiversidad en Colombia')
	meta(property='og:type', content='website')
	meta(property='og:description', content='Acceso libre a la informaci칩n sobre biodiversidad de Colombia! Open access to Colombian biodiversity information!')
	meta(property='og:url', content='http://www.biosiversidad.co/')
	meta(property='og:image', content='http://www.biodiversidad.co/images/logo_catalogo_especies.png')
	meta(property='og:site_name', content='Catalogo de especies de la biodiversidad de Colombia')
	meta(property='og:locale', content='es_ES')
	meta(name="google-site-verification" content="nm1-g-rVHscAi_K7O9e-s3EE7rEDorSu9OFagozmx3Q")

	meta(property="og:title" content="Cat치logo de Especies de la biodiversidad de Colombia")
	meta(property="og:type" content="website")
	meta(property="og:url" content="http://www.biodiversidad.co")
	meta(property="og:image" content="http://www.biodiversidad.co/images/logo_catalogo_especies.png")

	link(rel="Shortcut Icon" href="images/favicon.ico")
	//- TODO : Place favicon.ico and apple-touch-icon.png in the root directory
	
	// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
	//if lt IE 9
		script(src='http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js')
		script(src='htpp://cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js')

	//- Stylesheets production
	//- link(rel='stylesheet', href='/stylesheets/catalogo-built.min.css')

	// Stylesheets development
	link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/catalogo.css')

	script.
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-1418857-10']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
		
body
	.wrapper
		.ribbon-wrapper-green
			.ribbon-green BETA
	#wrapper
		section#top-zone
			include includes/header_home
		#content-wrapper
			block content
		section#footer-zone
			include includes/footer_home

	//- Including RequiereJS module loader for production
	//- script(data-main="/javascripts/main-built", src="/javascripts/require.js")

	//- Including RequiereJS module loader for development
	script(data-main="/javascripts/main", src="/javascripts/require.js")